.events {
    grid-column: 1 / 3;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    position: relative;
}

.events-container {
    display: flex;
    padding: 1rem;
}


.arrow {
    margin: 0 auto;
    width: 1rem;
    position: absolute;
}

.arrow-right {
    right: 0;
    margin-left: 10px;
}

.arrow:first-child {
    top: 50%;
    transform: translateY(-50%);
}

.arrow-left {
    left: 0;
    margin-right: 10px;
}

.image-carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.events::-webkit-scrollbar {
    display: none;
}