.event {
    min-width: 15rem;
    height: 15rem;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    margin-right: 10px;
}

img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    object-fit: cover;
}

.event-details {
    padding: 10px;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
}

.event-date {
    background-color: #fff;
    font-size: 0.75rem;
    border-radius: 7.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5px 7.5px 2.5px 7.5px;
    margin-right: 10px;
    font-weight: bold;
}

.event-date > span {
    font-size: 1.56rem;
}

.event-description {
    font-size: 0.75rem;
}