aside {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    flex-basis: 100px;
}

aside > div.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}


div.icons > img {
    max-width: 1.7rem;
    margin-top: 2rem;
    cursor: pointer;
}

.logo {
    max-width: 3rem;
    max-height: 3.5rem;
    margin: 0 auto;
    padding-top: 1rem;
}

div.navigate-btn {
    background: transparent linear-gradient(127deg, #FF3C94 0%, #E951B8 100%) 0% 0% no-repeat padding-box;
    margin-top: auto;
    height: 7.7rem;
    outline: none;
    border: none;   
    display: flex;
    align-items: center;
    justify-content: center;
}

div.navigate-btn > img {
    cursor: pointer;
    max-width: 1.7rem;
    max-height: 1.7rem;
}
